.header {
  height: 390px;
  background: #fff url("../img/bg_header_big.png") repeat-x;
}

footer {
  background: #fff url("../img/bg_footer.png") repeat-x;
  height: 127px;
  width:  100%;
}

.landing-image-container {
  margin-top: -250px;
}

.jumbotron {
  background-color: #F1F1F1;
}

.navbar {
  /*background-image: none;
  background-color: transparent;*/
  border: 0;
}

.steps {
  margin-bottom: 30px;
}

.lang .hex{
  margin: 0 auto;
}

.step, .languages .lang {
  display: block;
  width: 100%;
  height: 228px;
  position: relative;
  margin: auto;
  max-width: 256px;
  /*background-color:  #E1E1E1;*/
  padding-top: 50px;
}

.step:hover, .lang:hover {
  background-color:  #E1E1E1;
  text-decoration: none;
}

.step:hover .step-name {
  display: block;
}

.landing-image-container h1{
  color: #fff;
}


.jumbotron h1{
  font-size: 4em;
  text-align: center;
}

.see-how {
  font-size: .8em;
}

.step-icon {
  width: 60px;
  height: 60px;
  background-color: #0de5f4;
  margin-top: 18px;
  display: inline-block;
}

.step-number {
  color: #ffffff;
  display: inline-block;
  margin: -8px auto 0 auto;
  font-size: 2em;
}

.step-icon.install-cli {
  background: url("../img/install-cli.png") center no-repeat;
}

.step-icon.work-exercise {
  background: url("../img/work-exercise.png") center no-repeat;
}

.step-icon.submit-iteration {
  background: url("../img/submit-iteration.png") center no-repeat;
}

.step-icon.get-reviews {
  background: url("../img/get-reviews.png") center no-repeat;
}

.step .step-name{
  font-weight: bold;
  color: #7c7c7c;
  text-align: center;
}

.lang .lang-name{
  text-align: center;
  font-weight: bold;
  color: #7c7c7c;
}

.languages .lang .hex{
  margin-bottom: 46px;
}

.lang i{
  width: 80px;
  height: 80px;
  display: inline-block;
}

.java {
  background: url("../img/java.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.ruby {
  background: url("../img/ruby.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.javascript {
  background: url("../img/javascript.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}

.upcoming {
  background: url("../img/upcoming.png") no-repeat scroll center center rgba(0, 0, 0, 0);
}