/*START - Css for circles***************************************************************/

.circle-outer {
    border-radius: 50%;
    width: 113px;
    height: 113px;
    background: #DDA163;
    padding: 7px;
    margin: 0 auto;
    margin-bottom: 12px;
}

.circle-inner {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background: #DDA163;
    border: 3px solid #fff;
    position: relative;
    text-align: center;
}

.circle-inner .hex {
    position: absolute;
    margin-top: -20px;
    left: 50%;
    margin-left: -22px;
}

/*END - Css for circles***************************************************************/

/*Css for regular hexagons*/
/*
.biege.small-hex:before{
  border-bottom: 13px solid #5483A1;
}

.biege.small-hex{
  background-color: #5483A1;
}

.biege.small-hex:after{
  border-top: 13px solid #5483A1;
}

.small-hex:before {
  content: " ";
  width: 0;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  position: absolute;
  top: -13px;
}

.small-hex {
  margin-top: 13px;
  width: 46px;
  height: 26px;
  position: relative;
}

.small-hex:after {
  content: " ";
  width: 0;
  border-left: 23px solid transparent;
  border-right: 23px solid transparent;
  position: absolute;
  bottom: -13px;
}


.blue.hex{
  background-color: #DDA163;
}
.blue.hex:before{
  border-bottom: 13px solid #DDA163;
}

.blue.hex:after{
  border-top: 13px solid #DDA163;
}

.hex:before {
  content: " ";
  width: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  position: absolute;
  top: -13px;
  left: 0;
}

.hex, .hex-big, .hex-small {
  width: 45px;
  height: 26px;
  position: relative;
  text-align: center;
}

.hex:after, .hex-big:after {
  content: " ";
  width: 0;
  border-left: 22px solid transparent;
  border-right: 22px solid transparent;
  position: absolute;
  bottom: -13px;
  left: 0;
}

.hex-big {
  width: 65px;
  height: 46px;
  background-color: red;
}

.hex-big:after {
  border-left-width: 42px;
  border-right-width: 42px;
}


*/

.hex {
    position: relative;
    text-align: center;
}

.hex:before {
    border-bottom-style: solid;
}

.hex:after {
    border-top-style: solid;
}



.hex:before {
    content: " ";
    width: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    position: absolute;
    top: -13px;
    left: 0;
}

.hex:after {
    content: " ";
    width: 0;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    position: absolute;
    bottom: -13px;
    left: 0;
}


.hex-small {
    width: 45px;
    height: 26px;
    background-color: green;
}

.hex-small:before {
    border-bottom-width: 13px;
    border-bottom-color: green;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hex-small:after {
    border-top-width: 13px;
    border-top-color: green;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
}

.hex-medium {
    width: 78px;
    height: 45px;
    background-color: violet;
}

.hex-medium:before {
    border-bottom-width: 13px;
    border-bottom-color: violet;
    border-left: 39px solid transparent;
    border-right: 39px solid transparent;
}

.hex-medium:after {
    border-top-width: 13px;
    border-top-color: violet;
    border-left: 39px solid transparent;
    border-right: 39px solid transparent;
}



.hex-big {
    width: 118px;
    height: 68px;
    background-color: teal;
}

.hex-big:before {
    border-bottom-width: 13px;
    border-bottom-color: teal;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}

.hex-big:after {
    border-top-width: 13px;
    border-top-color: teal;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
}



